.header {
    width: 100%;
}

.header img {
    width: 143px !important;
    height: 27px !important;
    padding-top: 0;
}

.header .toggle-menu {
    color: red;
    font-size: 22px;
}

@media (min-width: 768px) {
    .header .toggle-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .header span {
        display: none;
    }

    .header .toggle-menu:hover+span {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(248, 242, 242, 0.5);
    }

}

.header button {
    font-weight: 700;
    color: white;
    background-color: #ff8d5c;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    border: 0;
}

@media (max-width: 767px) {
    .header button {
        display: none;
    }
}